<div class="main_container">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-12">
        <section class="card_container">
          <div *ngFor="let art of all_articles_list">
            <div class="card-body" style="cursor:pointer">
              <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/A8eQsll.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title" *ngIf="art!=undefined && art.name!=undefined">{{art.name}}</h5>
                  <p class="card-text"><small>{{art.category_name}}</small></p>
                  <p class="card-text" *ngIf="art!=undefined && art.price!=null">
                    <b> € {{art.price}}</b>
                  </p>
                  <button type="button" class="btn btn-outline-dark btn-sm" *ngIf="cart_service.checkIfItemInCart(art)!==art.id"
                  (click)="addToCart(art)">Add to cart</button>
                  <div class="in_cart" *ngIf="cart_service.checkIfItemInCart(art)===art.id">
                    <img src="../../../assets/plus.png" alt="" id="math_signs" (click)="addItem(art)">
                    <span>{{cart_service.giveItemQuantity(art)}}</span>
                    <img src="../../../assets/substract.png" alt="" id="math_signs" (click)="minuItem(art)">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>



